{% extends 'base.html' %}

{% block core_body %}
<h3>Average sales of product for 4 years of interval</h3>
<table class="example">
    <thead>
        <tr>
            <th>SN</th>
            <th>Product</th>
            <th>Year</th>
            <th>Average Sale</th>
        </tr>
    </thead>
    <tbody>
        {% for data in final_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.petroleum_product}}</td>
            <td>{{data.year_range}}</td>
            <td>{{data.avg_sale}}</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock %}