{% extends 'base.html' %}

{% block core_body %}

<table class="example">
    <thead>
        <tr>
            <th>SN</th>
            <th>Product</th>
            <th>Year</th>
            <th>Average Sale</th>
        </tr>
    </thead>
    <tbody>
        {% for t in test_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{t.petroleum_product}}</td>
            <td>{{t.year}}</td>
            <td>{{t.avg_sale}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}